@import url('reset.css');

/* GLOBAL CLASSES */
body {
	font-family: "Poppins", sans-serif;
	background: #0C151D;
	color: #FFF;
	font-size: 22px;
}
h2{
	font-weight: 500;
	font-size: 46px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.subtitle {
	font-size: 37px;
}

/* HEADER */
.header {
	text-align: center;
	padding: 36px 0 82px;
}

.zabyv {
	margin-bottom: 65px;
}

.head{
	display: inline-block;
}

.header-photo {
	background: red;
	width: 215px;
	height: 215px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	border: 6px solid #FFE071;
	display: inline-block;
	text-align: left;
}

.header-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: inline-block;
}

.title {
	display: inline-block;
	vertical-align: top;
	margin-left: 45px;
}

.theme img+img {
	margin-left: 25px;
}

.theme {
	margin-top: 10px;
}

.header-title {
	margin: 30px 0 0;
	font-weight: 500;
	font-size: 46px;
	color: #F1F2F4;
}

.header-title+p {
	color: #A3ABB2;
	margin: 10px 0 0;
}

.block-text {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	color: #A3ABB2;
	line-height: 1.3;
}

.header-text{
	
	margin-left: 90px;
}





.header-link {
	margin-top: 40px;
	font-size: 0px;
}

.header-link a {
	color: #3d3d3d;
	text-decoration: none;
	font-size: 22px;
	padding: 25px 50px;
	background-color: #FFE482;
	display: inline-block;
	border-radius: 6px;
}

.header-link a:hover {
	background-color:cadetblue;
}

.header-link a:last-child{
	margin-left: 40px;
	/* background-color: #3E64AA; */
}
/* PHOTO BLOCK */
.image>h2{
	color: #A3ABB2;
	margin-top: 100px;
	margin-bottom: 40px;
}

.portfolio-cards {
	font-size: 0;
	margin: 0 -15px;
}

.portfolio-card {
	width: 33.333%;
	height: 226px;
	display: inline-block;
	font-size: 22px;
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	padding: 0 15px;
}

.portfolio-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* MAIN BLOCK */
.main-sect {
	background-color: #FFE482;
}
.container {
	text-align: center;
	width: 1200px;
	margin: 0 auto;
	background-color: #FFE482;
	color: #3D3D3D;
	padding: 20px 0 60px;	
}
.container>h2 {
	padding-top: 20px;
}
.container>p{
	margin-top: 30px;
	padding-bottom: 50px;
}

/* FOOTER */
.footer {
	color: #A3ABB2;
	text-align: center;
	padding: 50px 0 50px;
}